name: Publish

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: install go
      run: sudo snap install go --classic

    - name: Checkout master
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Hugo Deploy GitHub Pages
      uses: benmatselby/hugo-deploy-gh-pages@master
      env:
        HUGO_VERSION: 0.84.0
        TARGET_REPO: tiborschneider/tibors.ch
        TOKEN: ${{ secrets.TOKEN }}
        CNAME: www.tibors.ch
